<div class="container">
  <form method="get" action="/result">
    <div class="form-group">
      <label for="Num">Enter Positive Number:</label>
      <input type="text" pattern="^\d*[1-9]\d*$" class="form-control" id="num" name="num" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
