<table>
<thead>
    <tr>

            <th>Word</th>
            <th>Frequency</th>
    </tr>
</thead>
<tbody>
    {{#each data}}
        <tr>

                <td>{{name}}</td>
                <td>{{total}}</td>
          
        </tr>
     {{/each}}
</tbody>
</table>
